/* Created by: MariaG
 * Modified by: Kukwac
 * Created on: May 2025
 * This CSS file defines the style for index.php
 * ICD2O-Assign-04B-PHP-FoodOrder
*/

form {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    background-color: #64db74;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

h2 {
    background-color: #ff000098;
    text-align: center;
    padding: 20px;
}

p {
    width: 80%;
    margin-left: 10%;
}

iframe {
    margin-bottom: 5%;
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}